extend layout
//block header
//  link(href='/stylesheets/datepicker.css', rel='stylesheet')
mixin contentWeb
  .panel.panel-default
      .panel-heading
        i.fa.fa-users.fa-fw
        | Users
      // /.panel-heading
      .panel-body
        each item, i in web_search
            li
              h3
                a(href=item.Url) #{item.Title}
              p #{item.Description}

mixin contentImage
  .panel.panel-default
      .panel-heading
        i.fa.fa-send.fa-fw
        | Locations
      // /.panel-heading
      .panel-body
        each item, i in web_search
          li
            h3
              a(href=item.Url) #{item.Title}
            p #{item.Description}            br
block body
  #page-wrapper(style='padding-top: 10px')
    if (typeof(query_results.user_results)!=='undefined' && typeof(query_results.location_results)!=='undefined' )
          -console.log('both are searched for')
          .row
            .col-lg-6
              mixin contentWeb
            .col-lg-6
              mixin contentImage

    else if (typeof(query_results.user_results) !== 'undefined')
          -console.log('only user searched for')
          mixin contentWeb

    else if (typeof(query_results.location_results) !== 'undefined')
          -console.log('only user searched for')
          mixin contentImage


