doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title Tripster - Home
    // Bootstrap Core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='/stylesheets/metisMenu.min.css', rel='stylesheet')
    // Timeline CSS
    link(href='/stylesheets/timeline.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/sb-admin-2.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='/stylesheets/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet', type='text/css')
    |     
    style(type='text/css').
      .friendReqPic {
      max-width:100%;
      }
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |     
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  |   
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |           
          a.navbar-brand(href='index.html') Tripster
        // /.navbar-header
        ul.nav.navbar-top-links.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-users.fa-fw
              i.fa.fa-caret-down
            |             
            ul.dropdown-menu.dropdown-messages
              - var len = results.friend_requests.length
              //- each trip_var in results.trip_requests    
              - var maxNum = 5
              if len <= maxNum
                  - var numItr = len
              else
                  - var numItr = maxNum
              - for (var i = 0 ; i < numItr ; i++)
                  - var friend_var = results.friend_requests[i]
                  li
                    .row
                      .col-lg-3
                        img.friendReqPic(src=friend_var.FRIEND_PHOTO_URL, alt='profilePic', align='left')
                      // /.col-lg-2
                      .col-lg-6
                        .row
                          .col-sm-6
                            =friend_var.FRIEND_FIRSTNAME
                            =friend_var.FRIEND_LASTNAME
                          // innercol6
                          .col-sm-offset-1.col-sm-3
                            a.btn.btn-primary(href='/friendRequest/accept/?friendusernamae='+friend_var.FRIEND_USERNAME) add
                          .col-sm-offset-1.col-sm-3
                            a.btn.btn-default(href='/friendRequest/reject/?friendusernamae='+friend_var.FRIEND_USERNAME) reject

                      // /.col-lg-6
                    // /.row              
                  |               
                  li.divider
              if (len == 0)
                |               
                |               
                li
                  strong(align = "center") No new requests 
              else if (maxNum < len ) 
                |               
                |               
                li
                  a.text-center(href='#')
                    strong(align = "center") See all Requests
                    i.fa.fa-angle-right
            // /.dropdown-friend-requests
          // /.dropdown
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-send.fa-fw
              i.fa.fa-caret-down
            |             
            ul.dropdown-menu.dropdown-messages
              - var len = results.trip_requests.length
              //- each trip_var in results.trip_requests    
              - var maxNum = 5
              if len <= maxNum
                  - var numItr = len
              else
                  - var numItr = maxNum
              - for (var i = 0 ; i < numItr ; i++)
                  - var trip_var = results.trip_requests[i]
                  li
                    .row
                        .col-lg-3
                        =trip_var.TRIP_NAME
                        .col-lg-9
                          .row
                            .col-sm-offset-2.col-sm-3
                              a.btn.btn-primary(href='/tripRequest/accept/?tripid='+trip_var.TRIP_ID) going
                            // end smaller col-lg-6
                            .col-sm-offset-2.col-sm-3
                              a.btn.btn-defualt(href='/tripRequest/reject/?tripid='+trip_var.TRIP_ID) reject
                            // end smaller col-lg-6
                          // end small row
                        // /.col-lg-6
                        // /.col-lg-6
                      // /.row
                  |               
                  li.divider
              if (len == 0)
                |               
                |               
                li
                  strong(align = "center") No new requests 
              else if (maxNum < len ) 
                |               
                |               
                li
                  a.text-center(href='#')
                    strong(align = "center") See all Requests
                    i.fa.fa-angle-right
                    
            // /.dropdown-trips
          |           
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-user.fa-fw
              i.fa.fa-caret-down
            |             
            ul.dropdown-menu.dropdown-user
              li
                a(href='/editprofile')
                  i.fa.fa-wrench.fa-fw
                  | Edit Profile
              |               
              li.divider
              |               
              li
                a(href='/logout')
                  i.fa.fa-sign-out.fa-fw
                  | Logout
            // /.dropdown-user
          // /.dropdown
        // /.navbar-top-links
        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav
              // TODOVAR
              li
                img(src=results.photo_url, alt='profilePic', width='100%', align='middle')
              |               
              li.sidebar-search
                .input-group.custom-search-form
                  input.form-control(type='text', placeholder='Search...')
                  span.input-group-btn
                    button.btn.btn-default(type='button')
                      i.fa.fa-search
                // /input-group
              |               
              li
                a.active(href='/editprofile')
                  i.fa.fa-wrench.fa-fw
                  | Edit Profile
          // /.sidebar-collapse
        // /.navbar-static-side
      |       
      #page-wrapper
        .row
          .col-lg-12
            // TODOVAR
            h1.page-header Welcome back #{results.firstname}
          // /.col-lg-12
        // /.row
        .row
          .col-lg-4.col-md-6
            .panel.panel-primary
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-glass.fa-5x
                  |                   
                  .col-xs-9.text-right
                    .huge #{results.no_trips}
                    |                     
                    div Your Trips
              a(href='#')
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  |                   
                  .clearfix
          |           
          .col-lg-4.col-md-6
            .panel.panel-green
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-image.fa-5x
                  |                   
                  .col-xs-9.text-right
                    .huge #{results.no_albums}
                    |                     
                    div Your Albums
              a(href='#')
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  |                   
                  .clearfix
          |           
          .col-lg-4.col-md-6
            .panel.panel-yellow
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-users.fa-5x
                  |                   
                  .col-xs-9.text-right
                    .huge #{results.no_friends}
                    |                     
                    div Your Friends
              a(href='#')
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  |                   
                  .clearfix
        // /.row
        .row
          .col-lg-8
            .panel.panel-default
              .panel-heading
                i.fa.fa-clock-o.fa-fw
                | Timeline
              // /.panel-heading
              .panel-body
                ul.timeline
                    - var itr = 0
                    each trip_var in newsfeed_trips   
                        if ( ( itr++ % 2) == 0)             
                          li
                            .timeline-badge.info
                              i.fa.fa-check
                            |                     
                            .timeline-panel
                              .timeline-heading
                                a(href='/trips/?tripid='+trip_var.TRIP_ID)
                                    h4.timeline-title #{trip_var.FRIEND_FIRSTNAME}, #{trip_var.FRIEND_LASTNAME}
                              |                       
                              .timeline-body
                                p
                                  | #{trip_var.FRIEND_FIRSTNAME}, #{trip_var.FRIEND_LASTNAME} joined #{trip_var.TRIP_NAME}.
                          |
                        else                   
                          li.timeline-inverted
                            .timeline-badge.danger
                              i.fa.fa-credit-card
                            |                     
                            .timeline-panel
                              .timeline-heading
                                h4.timeline-title #{trip_var.FRIEND_FIRSTNAME}, #{trip_var.FRIEND_LASTNAME}
                              |                       
                              .timeline-body
                                p
                                  | #{trip_var.FRIEND_FIRSTNAME}, #{trip_var.FRIEND_LASTNAME} joined #{trip_var.TRIP_NAME}.
                          |      
              // /.panel-body
            // /.panel
          // /.col-lg-8
          .col-lg-4
            .panel.panel-default
              .panel-heading
                i.fa.fa-users.fa-fw
                | Friend Recommendations
              // /.panel-heading
              .panel-body
                .list-group
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    | New Comment
                    span.pull-right.text-muted.small
                      em 4 minutes ago
                  |                 
                  |                 
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    | New Comment
                    span.pull-right.text-muted.small
                      em 4 minutes ago
                  |                 
                  |                 
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    | New Comment
                    span.pull-right.text-muted.small
                      em 4 minutes ago
                  |                 
                  |                 
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    | New Comment
                    span.pull-right.text-muted.small
                      em 4 minutes ago
                // /.list-group
                a.btn.btn-default.btn-block(href='#') View All Recommendations
              // /.panel-body
            // /.panel
            .panel.panel-default
              .panel-heading
                i.fa.fa-send.fa-fw
                | Location Recommendations
              // /.panel-heading
              .panel-body
                .list-group
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    | New Comment
                    span.pull-right.text-muted.small
                      em 4 minutes ago
                  |                 
                  |                 
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    | New Comment
                    span.pull-right.text-muted.small
                      em 4 minutes ago
                  |                 
                  |                 
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    | New Comment
                    span.pull-right.text-muted.small
                      em 4 minutes ago
                  |                 
                  |                 
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    | New Comment
                    span.pull-right.text-muted.small
                      em 4 minutes ago
                // /.list-group
                a.btn.btn-default.btn-block(href='#') View All Recommendations
              // /.panel-body
            // /.panel
          // /.panel
        // /.col-lg-4
      // /.row
    // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='/javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='/javascripts/metisMenu.min.js')
    // Morris Charts JavaScript
    script(src='/javascripts/raphael.min.js')
    |     
    script(src='/javascripts/morris.min.js')
    |     
    script(src='/javascripts/morris-data.js')
    // Custom Theme JavaScript
    script(src='/javascripts/sb-admin-2.js')
