extend layout
block body      
  #page-wrapper
    .row
      .col-lg-12
        // TODOVAR
        h1.page-header Welcome back #{results.firstname}
      // /.col-lg-12
    // /.row
    .row
      .col-lg-4.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-glass.fa-5x
              |                   
              .col-xs-9.text-right
                .huge 
                |                     
                div Your Trips
          a(href='/mytrips')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              |                   
              .clearfix
      |           
      .col-lg-4.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-image.fa-5x
              |                   
              .col-xs-9.text-right
                .huge 
                |                     
                div Your Albums
          a(href='/myAlbums')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              |                   
              .clearfix
      |           
      .col-lg-4.col-md-6
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-users.fa-5x
              |                   
              .col-xs-9.text-right
                .huge 
                |                     
                div Your Friends
          a(href='#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              |                   
              .clearfix
    // /.row
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            i.fa.fa-clock-o.fa-fw
            | Your Timeline
          // /.panel-heading
          .panel-body
            ul.timeline
                - var itr = 0
                - console.log(newsfeed_trips)
                each trip_var in newsfeed_trips   
                    if ( ( itr++ % 2) == 0)             
                      li
                        .timeline-badge.info
                          i.fa.fa-check
                        |                     
                        .timeline-panel
                          .timeline-heading
                              h4.timeline-title #{trip_var.FRIEND_FIRSTNAME}, #{trip_var.FRIEND_LASTNAME}
                          |                       
                          .timeline-body
                            p
                              | #{trip_var.FRIEND_FIRSTNAME}, #{trip_var.FRIEND_LASTNAME} joined 
                            a(href='/mytrips/?tripid='+trip_var.TRIP_ID)
                              strong #{trip_var.TRIP_NAME}.
                    else                   
                      li.timeline-inverted
                        .timeline-badge.danger
                          i.fa.fa-credit-card
                        |                     
                        .timeline-panel
                          .timeline-heading
                              h4.timeline-title #{trip_var.FRIEND_FIRSTNAME}, #{trip_var.FRIEND_LASTNAME}
                          |                       
                          .timeline-body
                            p
                              | #{trip_var.FRIEND_FIRSTNAME}, #{trip_var.FRIEND_LASTNAME} joined 
                            a(href='/trips/?tripid='+trip_var.TRIP_ID)
                              strong #{trip_var.TRIP_NAME}.
                // ALBUM TIMELINE     
                - var itr = 0
                - console.log(newsfeed_albums)
                each album_var in newsfeed_albums  
                    if ( ( itr++ % 2) == 0)             
                      li
                        .timeline-badge.info
                          i.fa.fa-check
                        |                     
                        .timeline-panel
                          .timeline-heading
                              h4.timeline-title #{album_var.FRIEND_FIRSTNAME}, #{album_var.FRIEND_LASTNAME}
                          |                       
                          .timeline-body
                            p
                              | #{album_var.FRIEND_FIRSTNAME}, #{album_var.FRIEND_LASTNAME} created a new album 
                            a(href='/albums/?albumid='+album_var.ALBUM_ID)
                              strong #{album_var.ALBUM_NAME}. 
                              img(src=album_var.PHOTO_URL, alt='profilePic', align='center', width = "100%")
                    else                   
                      li.timeline-inverted
                        .timeline-badge.danger
                          i.fa.fa-credit-card
                        |                     
                        .timeline-panel
                          .timeline-heading
                              h4.timeline-title #{album_var.FRIEND_FIRSTNAME}, #{album_var.FRIEND_LASTNAME}
                          |                       
                          .timeline-body
                            p
                              | #{album_var.FRIEND_FIRSTNAME}, #{album_var.FRIEND_LASTNAME} created a new album 
                            a(href='/albums/?albumid='+album_var.ALBUM_ID)  
                              strong #{album_var.ALBUM_NAME}.
                              img(src=album_var.PHOTO_URL, alt='profilePic', align='center', width = "100%")
                // ALBUM END TIMELINE     

          // /.panel-body
        // /.panel
      // /.col-lg-8
      .col-lg-4
        .panel.panel-default
          .panel-heading
            i.fa.fa-users.fa-fw
            | Friend Recommendations
          // /.panel-heading
          .panel-body
            .list-group
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                | New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
              |                 
              |                 
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                | New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
              |                 
              |                 
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                | New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
              |                 
              |                 
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                | New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
            // /.list-group
            a.btn.btn-default.btn-block(href='#') View All Recommendations
          // /.panel-body
        // /.panel
        .panel.panel-default
          .panel-heading
            i.fa.fa-send.fa-fw
            | Location Recommendations
          // /.panel-heading
          .panel-body
            .list-group
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                | New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
              |                 
              |                 
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                | New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
              |                 
              |                 
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                | New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
              |                 
              |                 
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                | New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
            // /.list-group
            a.btn.btn-default.btn-block(href='#') View All Recommendations
          // /.panel-body
        // /.panel
      // /.panel
    // /.col-lg-4
  // /.row

