extend layout
//block header
//  link(href='/stylesheets/datepicker.css', rel='stylesheet')
block body
  #page-wrapper(style='padding-top: 10px')
    if (query_results.user_results!='undefined')
          .row
            .col-lg-6
              .panel.panel-default
                .panel-heading
                  i.fa.fa-users.fa-fw
                  | Users
                // /.panel-heading
                .panel-body
                  form.form(method="post", action="/addFriend", role="form", id="friendform", name="friendForm")
                    each user in query_results.user_results
                      .row
                        .col-md-3
                          img(src=user.PHOTO_URL, alt='profilePic', align='center', width = "100%")
                        .col-md-5
                          | #{user.FIRSTNAME} #{user.LASTNAME}
                        .col-md-4
                          button.btn.btn-sm.btn-primary( type="submit", value=user.USERNAME) Add friend

            .col-lg-6
              .panel.panel-default
                .panel-heading
                  i.fa.fa-send.fa-fw
                  | Locations
                // /.panel-heading
                .panel-body
                  form.form(method="post", action="/addLocation", role="form", id="locationform", name="locationform")
                    each loc in query_results.location_results
                      .row
                        .col-sm-6
                          | #{loc.NAME} 
                        .col-sm-4
                          button.btn.btn-sm.btn-primary( type="submit", value=loc.ID) Dreamlist it
                      br
                      
    script(src='/javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='/javascripts/metisMenu.min.js')
    // Morris Charts JavaScript
    script(src='/javascripts/raphael.min.js')
    |     
    script(src='/javascripts/morris.min.js')
    |     
    script(src='/javascripts/morris-data.js')
    // Custom Theme JavaScript
    script(src='/javascripts/sb-admin-2.js')
    |     
    script(src='/javascripts/bootstrap-datepicker.js')